.projectExamples{
    width: 90%;
    margin: 0 auto;
    
}

.projectBox{
    background: #ffffff;
    border: 1px solid #000000;
    float: left;
    margin: 10px;
    width: 31%;
    text-align: center;
}

.projectBox h3{
    margin: 10px;
}

.projectBox h4.semester{
    background: #000088;
    color: #ffffff;
    padding: 15px;
}

.projectBox a.button{
    display:block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #000088;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

.footer{
    display: inline-block;
}