div.intro{
    display: block;
    background: url(../Media/ForestImageAboutUs2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    color: aliceblue;
    text-align: center;
    


    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
mark{
    background-color: #006000;
    padding: 2px;
    border-radius: 10px;
    color: aliceblue;
}